{{ define "header" }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
<h1>About Us</h1>
    {{ range .Pages}}
        <div class = "profile">
            <div style="position: relative; float: left; margin-right: 30px;">
                <img style="border-radius: 100px; width: 200px; height: 200px;" src="{{ .Params.Avatar }}"></img>
            </div>
            <div>
                <h4>{{ .Params.Name }}</h4>
                <p><span>{{ .Content }}</span></p>
                <a href="https://github.com/{{ .Params.Github }}"><i class="fab fa-2x fa-github"></i></a>
                <a href="https://gitlab.com/{{ .Params.Gitlab }}"><i class="fab fa-2x fa-gitlab"></i></a>
                <a href="https://www.linkedin.com/in/{{ .Params.Linkedin }}"><i class="fab fa-2x fa-linkedin"></i></a>
                <a href="https://www.twitter.com/{{ .Params.Twitter }}"><i class="fab fa-2x fa-twitter"></i></a>
                <a href="mailto:{{ .Params.Mail }}"><i class="fa fa-2x fa-envelope"></i>
                </a>    
            </div>
        </div>
        <br>
    {{ end }}
{{ end }}

{{ define "footer" }}
{{ partial "footer/font-awesome-js.html" . }}
{{ end }}