// for the list of posts

.section__title {
	font-size: $section__title-font-size;
}

.post-list__item {
	margin-bottom: 3em;
}

.item__title--big {
	display: block;
	font-size: $item__title-big-font-size;
	font-size: 1.5rem;
	line-height: 1.1;
}

.item__title--small {
	font-size: 1rem;
}

.item__date {
	color: $item__date-color;
	display: block;
	font-size: $item__date-font-size;
	margin-bottom: .2rem;
	margin-top: .2rem;
}
